<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appKey" value="0uliemz9i8fdwka" />
    <add key="appSecret" value="036pu3cluaoc4yk" />
  </appSettings>
  <connectionStrings>
    <add name="SafeConn" connectionString="datasource=eu-cdbr-azure-west-c.cloudapp.net;port=3306;database=SafeDropbox;username=b69d72d59decce;password=2769748a" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
